/* COULEURS DU SITE */
$nao-green: #1daa69;
$nao-dark-green: #274144;
$nao-brown: #775308;
$nao-cream: #e0cfc6;
$nao-text-dark: #28282f;
$nao-text-light: #95989a;
$nao-dark-overlay: rgba(0,0,0,.6);
$nao-blue : #4267b2;

/* POLICE DU SITE */
@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Asap';
  src: url('../fonts/Asap-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Asap';
  src: url('../fonts/Asap-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Asap';
  src: url('../fonts/Asap-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Asap';
  src: url('../fonts/Asap-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}
/* GENERALITIES SECTION */
body {
  font-family: 'Asap',Arial,sans-serif;
  background-color: #ffffff;
}
.text-title-green {
  color: $nao-green;
  text-shadow: 4px 4px 2px $nao-dark-green;
  font-weight: bold;
}
.text-title-cream {
  color: $nao-cream;
  text-shadow: 3px 3px 2px #000000;
}
.text-title-white {
  color: #FFFFFF;
  text-shadow: 2px 2px #000000;
}
.text-dark-green {
  color: $nao-dark-green;
}
.bg-cream {
  background-color: $nao-cream;
}
.bg-green {
  background-color: $nao-green;
}
.bg-brown {
  background-color: $nao-brown;
}
.bg-dark-transparent {
  background-color: $nao-dark-overlay;
}
.logo-link {
  width: 70px;
}
.separation-line {
  border-bottom: 2px $nao-dark-green solid;
}
.bird-up {
  width: 75%;
}
.border-white {
  border: 4px solid #ffffff;
}
.side-menu, #my-observations {
  a {
    color: #ffffff;
  }
  a.active, a:hover {
    color: $nao-dark-green;
  }
  li {
    border-bottom: 1px #ffffff solid;
  }
}
.dropdown-menu a.active {
  background-color: $nao-dark-green;
}
/* NAVIGATION SECTION */
nav {
  li {
    padding: 0 5px;
  }
  .img-nav{
    width: 70px;
  }
}
.btn-landing {
  border-radius: 30px !important;
}
/* LANDING PAGE -> IMAGE SECTION */
#image-section {
  background: url('../img/eagle.jpg') no-repeat;
  background-size: cover;
  height: 360px;

  #video-background {
    display: none;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.5em;
  }
}
/* LANDING PAGE -> DECOUVRIR SECTION
-> QUI SECTION       */
#decouvrir-section, #qui-section{
  background-color: $nao-dark-green;
  color: #ffffff;
}
/* LANDING PAGE -> CAROUSEL SECTION   */
.carousel-indicators li {
    border-radius: 15px;
    margin: 1px 7px;
    height: 15px;
    max-width: 15px;
    border: 1px solid #FFF;
    background-color: transparent;
}
.carousel-indicators .active {
    background-color: #fff;
    max-width: 17px;
    margin: 0 7px;
    height: 17px;
}
.carousel-control-prev, .carousel-control-next {
  font-size: 1.5rem;
}
/* FOOTER SECTION */
#footer-section {
  .footer-exp {
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
  }
  .footer-exp {
    color: $nao-dark-green;
  }
  .land .footer-exp {
    color: #eeeeee;
  }
  .nav-link {
    color: $nao-dark-green;
  }
  .land .nav-link {
    color: #eeeeee;
  }
  .nav-link:hover {
    color: $nao-blue;
  }
}

/* ACCUEIL PAGE --> */
#accueil-intro {
  img.birdie {
    width: 47px;
    height: auto;
  }
  .read-more {
    color: $nao-dark-green;
  }
  .read-more:hover {
    text-decoration: none;
    color: $nao-green;
  }
}
#participer-accueil-section {
  .parti-obs {
    height: 198px;
    background: url('../img/accueil-observer.png') no-repeat;
    background-position: center;
    h4 {
      margin-top: 100px;
    }
  }
  .parti-pho {
    height: 198px;
    background: url('../img/accueil-photographier.png') no-repeat;
    background-position: center;
    h4 {
      margin-top: 100px;
    }
  }
  .parti-par {
    height: 198px;
    background: url('../img/accueil-partager.png') no-repeat;
    background-position: center;
    h4 {
      margin-top: 115px;
    }
  }
  .parti-val {
    height: 198px;
    background: url('../img/accueil-valider.png') no-repeat;
    background-position: center;
    h4 {
      margin-top: 100px;
    }
  }
}
#blog-accueil-section {
  a {
    color: $nao-dark-green;
  }
  a:hover {
    color: $nao-blue;
    text-decoration: none;
  }
  h3 {
    margin-top: calc(100% / 2);
    a{
      color: #ffffff;
    }
    a:hover {
      color: #1a8cff;
      text-decoration: none;
    }
  }
}
#observation-accueil-section {
  .container {
    background-color: $nao-dark-green;
  }
  .card-text {
    font-size: .8em;
  }
}
#vouloir-accueil-section {
  a {
    color: #ffffff;
  }
  a:hover {
    color: $nao-blue;
    text-decoration: none;
  }
  h2 {
    font-size: 1.7em;
    margin-top: 0%;
  }
}
/* PAGE A PROPOS */
#apropos-proposition-section {
  .box {
    position: relative;
    margin-bottom: 120px;
  }
  .box-title {
    width: 70%;
    background: #ffffff;
    padding: 10px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 80%;
    hr {
      border-width: 2px;
      border-color: $nao-text-dark;
      margin-left: auto;
      margin-right: 30%;
    }
    a {
      color: #000000;
    }
    a:hover {
      color: $nao-blue;
      text-decoration: none;
    }
  }
}

/* PARTICIPER SECTION */
#participer-section {
  .fa {
    font-size: 2.5em;
  }
  a.img-link {
    color: $nao-dark-green;
  }
  a:hover.img-link {
    color: $nao-blue;
    text-decoration: none;
  }
}
/* RECHERCHER SECTION */
#rechercher-result-section {
  td a {
    color: #ffffff;
  }
  td a:hover {
    color: $nao-blue;
  }
}
/* LISTE OBSERVATION */
#liste-observation-section {
  a {
    color: #000000;
  }
  a:hover {
    color: $nao-blue;
    text-decoration: none;
  }
}

/* ADMIN SECTIONS */
#profil_form .row:not(:last-child),
#my-observations .row-separate:not(:last-child) {
  padding-bottom: 12px;
  border-bottom: 1px #ffffff solid;
}
/* BREAKPOINT SECTION */
@media (min-width:768px) {
  nav {
    .container {
      border-bottom: 3px $nao-dark-green solid;
    }
  }
  .carousel-control-prev, .carousel-control-next {
    font-size: 2.5rem;
  }
  #image-section {
    height: auto;
    background: url();
    background-color: $nao-dark-green;
    #video-background{
      display: initial;
      width: 100%;
    }
    #video-inner {
      width: 100%;
      left: 0;
      right: 0;
      position: absolute;
      top: 20vh;
    }
    h1 {
      font-size: 4em;
    }
    h2 {
      font-size: 2.5em;
    }
  }
  #observation-accueil-section {
    .container {
      background: url('../img/accueil-vertice.png');
      background-repeat: repeat-x;
    }
  }
  .bird-up {
    width: 100%;
  }
  #vouloir-accueil-section {
    h2 {
      font-size: 2.2em;
      margin-top: 4%;
    }
  }
  #apropos-proposition-section {
    .box {
      margin-bottom: 70px;
    }
  }
}
